*{
    direction: rtl !important;

}
.form-container{
    width: 31%;
}
form.MuiBox-root.css-13r4j3i {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: row-reverse !important;
}
.list-category{
    width: 100%;
}
.MuiFormControl-root.css-q8hpuo-MuiFormControl-root {
}
iframe#tiny-react_40389733651707772808867_ifr {
    background-color: transparent;
}
.my-step {
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}