.editor-box.MuiBox-root.css-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .editor-profile{
        width: 100px;
        height: 100px;
    }
}