@import "variable";

.card {
    width: 18rem;
    margin: 10px;
    position: relative;
    height: 28rem !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none !important;
    .to-recipe{
        background-color: #76110a !important;
        color: white;
    }
    .btn-to-recipe{
        background-color:rgb(66, 0, 21) !important;
        color: white !important;
        text-decoration: none !important;
        width: 95% !important;
        height: 30px !important;
    }
    .link-to-recipe{
        text-decoration: none;
        color: white;
    }
    .MuiGrid-root .MuiGrid-item .MuiGrid-grid-sm-6 .css-43wnes-MuiGrid-root p {
        margin: 0;
    }

}
h5.card-title {
    overflow: hidden;
    height: 26px;
}
img.card-img-top {
    object-fit: cover;
height: 100%;
}
p.card-text {
    overflow: hidden;
    height: 70px;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: rgb(66, 0, 21) !important;
}
.card-header-box{
    height: 220px;
position: relative;
}

.card-header-box .favorite {
    position: absolute;
    bottom: 7px;
    left: 11px;
    color: white;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-header-box .favorite{
    background-color: #191d1d57;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-6.css-43wnes-MuiGrid-root {
    // padding: 0;
}
h6.MuiTypography-root.user-name.MuiTypography-h6 {
    font-size: 13px;
    /* width: fit-content; */
}
.bottom-recipe{
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: -16px;
        width: calc(100% + 16px);
        margin-left: -16px;
        justify-content: space-evenly;
    
}
.user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.MuiAvatar-root.MuiAvatar-circular.user-avatar {
    background-color: #42001561;
}
.css-mhc70k-MuiGrid-root {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
    align-items: flex-end;
    justify-content: space-between;
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px; 
}
.edit-recipe-btn {
    width: 77px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    background-color: #f1b114 !important;
    border-radius: 16px !important;
    height: 32px !important;  
}
.delete-recipe-btn {
    width: 20px !important;
    background-color: #76110a !important;
    border-radius: 16px !important;
    height: 32px !important;  
    color: white !important;
    margin-right: 10px !important;

}
.card-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.allowed-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
        position: absolute;

            top: 0;
            left: 0;
            background-color: rgba(25, 29, 29, 0.3411764706);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            padding: 10px;
        
}
